//- span#role_has_menus_data
//- 	- if rolemenus
//- 		each rMenu,indexm in rolemenus
//- 			span(data-menu-id=rMenu._id)
//- span#role_has_auths_data
//- 	- if roleauths
//- 		each rAuth,indexa in roleauths
//- 			span(data-auth-id=rAuth._id)
each menu,index in menus
	dl.menu
		dt.menu_title
			input.menu_icon.check_box_title.menu_checkbox(type="checkbox",value="#{menu._id}",id="#{menu._id}",checked=menu.role_remark)
			//- i.iconfont.menu_icon(class='#{menu.icon}')
			//- i.iconfont.menu_icon &#xe61d
			|#{menu.name}
			//- #{menu.order}
			span.column_icon_span
				//- span.hide_datas(data-para-_id='#{menu._id}',data-para-name=menu.name,data-para-icon=menu.icon,data-para-order=menu.order,data-para-rank=menu.rank,data-para-url=menu.url)
				//- 	//- ,data-para-meta-createAt=menu.meta.createAt,data-para-meta-updateAt=menu.meta.updateAt
				//- i.iconfont.hover_primary.default_color.add_menu_modal_child.icon-class-add
				//- i.iconfont.hover_warning.default_color.edit_menu_modal.icon-class-edit1
				//- i.iconfont.hover_danger.default_color.remove_menu_modal.icon-class-delete2
				//- i.iconfont.hover_warning.default_color.icon-class-move4.column_icon_move
				//- i.iconfont.hover_warning &#xe60d
		.column_items
			each item,index2 in menu.childs
				dd.menu_item

					//- a(onclick="auth.getAuths('#{item._id}')") 
					input.menu_icon.check_box_item.menu_checkbox(type="checkbox",value="#{item._id}",id="#{item._id}")
					|#{item.name}
					//- #{item.order}
					span.column_icon_span
script.
	//- var iauths = new Object();
	$(function(){
		$("#role_auths_container_box").find('dd.menu_item').each(function(index, ele) {
			//- console.log(ele);
			var id = $(ele).children('input').first().val();
			//- console.log(id);
			var ele_box = $(ele).children('.column_icon_span').first();

			auth.getIAuths(id,ele_box);
		});
	});
